.avatar-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;

    .avatar-img {
        width: 40px;
        height: auto;
        border-radius: 40px;
        margin: 0 auto;
    }
}
