.test {
    display: flex;
    justify-content: space-between;
}

.terminal-table-row-data {
    word-wrap: wrap;
    word-break: break-all;
    font-size: 14px;
}

@media screen and (max-width: 600px) {
    .terminal-table-row-data {
        font-size: 14px;
    }
}
